In [2]:
pip install xlwings

Requirement already satisfied: xlwings in c:\users\ravin\anaconda3\lib\site-packages (0.31.4)
Requirement already satisfied: pywin32>=224 in c:\users\ravin\anaconda3\lib\site-packages (from xlwings) (305.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import xlwings as xw
import pandas as pd
import numpy as np

In [3]:
# numpy array

In [4]:
data1 = np.random.randint(1, 100, 10000).reshape(100, 100)

In [5]:
data1

array([[86, 66,  2, ..., 56, 87, 88],
       [55,  9, 61, ..., 35,  2, 75],
       [12, 89, 27, ..., 24,  6, 75],
       ...,
       [95, 97, 59, ..., 75, 94, 48],
       [12, 29, 18, ..., 11, 57, 20],
       [ 6, 45, 90, ..., 30, 31, 19]])

In [6]:
data1.shape

(100, 100)

In [13]:
xw.view(data1)

In [9]:
data2 = np.random.randint(1,100, 100).reshape(10,10)
data2

array([[85, 22, 21, 65, 61, 93, 20, 47, 21, 44],
       [47, 62, 81, 61, 75, 63, 10, 86,  6, 31],
       [42, 85,  7, 65, 64, 82, 55,  5, 62, 59],
       [37, 78, 88, 10, 53, 48, 90, 39, 75, 85],
       [71,  9, 86, 56, 11, 44, 20, 10, 47, 81],
       [53, 95,  1, 28, 89, 96, 98, 67,  9,  6],
       [ 9,  4, 90, 93, 85, 83, 75, 87, 26, 17],
       [75, 33, 30, 27, 41,  5, 91, 34,  5, 47],
       [19, 69,  9, 81, 91,  1, 43, 10, 14, 66],
       [65, 67, 87, 81, 22, 44, 79, 17, 89, 16]])

In [16]:
xw.view(data2)

In [17]:
# now that we have 2 excel data, to make the 2nd sheet active, use the following code

xw.view(data2, sheet = xw.sheets.active)

In [18]:
# pandas dataframe

In [19]:
df = pd.read_csv("titanic.csv")

In [20]:
df

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [21]:
pd.options.display.max_rows = 900

In [22]:
xw.view(df)

In [23]:
# connection to a new book

In [24]:
xw.Book()

In [25]:
xw.books.active

In [26]:
xw.books.active.close()

In [41]:
wb = xw.Book()

In [28]:
wb

In [29]:
wb.close()

In [30]:
#connect to an open, unsaved book - use the book name
wb = xw.Book("Book1")
wb

In [31]:
# connect to a saved Book

In [32]:
"C:\Users\ravin\OneDrive\Desktop\Test2.xlsx"

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (2041628707.py, line 1)

In [37]:
# for windows, the above path will not work, hence use this.
path = r"C:\Users\ravin\OneDrive\Desktop\Test2.xlsx"  #windows

In [39]:
wb = xw.Book(path)
wb

In [36]:
wb = xw.Book("Test2.xlsx")
wb

In [45]:
# Reading and Writing single values

In [54]:
wb = xw.Book()
wb

In [55]:
sheet = wb.sheets[0]
sheet

In [56]:
xw.books.active

In [62]:
xw.sheets.active

In [52]:
# Write a single value

In [63]:
sheet.range("A1").value = "Hello World" #strings

In [64]:
# Reading single value

In [65]:
sheet.range("A1").value

'Hello World'

In [66]:
sheet.range("A1")

In [67]:
sheet.range((1,1)).value

'Hello World'

In [68]:
sheet.range((1,2)).value = 123 #numerical value

In [69]:
sheet.range("B1").value

123.0

In [70]:
int(sheet.range("B1").value)

123

In [71]:
# datetime objects

In [73]:
import datetime as dt

In [84]:
date = dt.datetime(2020, 3, 20, 15, 30, 45)
date

datetime.datetime(2020, 3, 20, 15, 30, 45)

In [75]:
sheet.range("A2").value = date

In [83]:
sheet.range("A2").value

datetime.datetime(1902, 9, 26, 0, 0)

In [78]:
sheet.range("A1").clear_contents()

In [79]:
#named ranges

In [81]:
sheet.range("A1").value = 1000

In [85]:
sheet.range("A1").value

1000.0

In [86]:
sheet.range("A1").name = "Number" # dynamic handling instead of hardcoding - use named ranges.

In [87]:
sheet.range("Number").value

1000.0

In [88]:
sheet.range("Number").name

In [89]:
# sum function

In [90]:
sheet.range("A3").formula = "=SUM(A1:A2)"

In [92]:
sheet.range("A3").value

1300.0

In [93]:
sheet.range("A3").formula

'=SUM(A1:A2)'

In [94]:
sheet.range("B1").formula = "=A1"

In [97]:
sheet.range("B1").formula

'=A1'